//@import '~bootstrap/scss/bootstrap.scss';
@import "vars";
@import "main/main";
@import "main/services";
@import "footer/index";
@import "chat/index";
@import "header/index";
@import "rem";
@import "headersecondary/index";

h6 {
  font-size: $h6FontSize;
}

p a {
  color: $aColor;
  box-sizing: border-box;
  position: relative;
  transition: all .5s;
  padding-bottom: 3px;

  &:hover {
    text-decoration: none;
    color: $aColor;
  }

  &:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all .3s;
    background: $aColor;
  }
  &:hover:before {
    width: 100%;
    left: 0;
  }

}

.navbar-secondary {
  background-color: $secondaryBackground;
  max-height: 80px;
}

.logo-container {
  width: 100%;
  min-width: 100px;

  & img {
    width: 100%;
  }
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $textColorFourth;
  font-weight: bold;
}

.secondary-header-text {
  display: flex;
  align-items: center;
  height: 80px;
}

.main-separator {
  height: $separatorHight;
  margin-top: 13px;
  margin-bottom: unset;
  background-color: $thirdColor;
}

.second-separator {
  height: $separatorHight;
  margin: unset;
  background-color: $fourthColor;
}

.main-header-right-col {
  max-height: 50px;
}

.user-info {
  background-color: $thirdColor;
  width: fit-content;
  padding: 8px 16px;
}

.header-third {
  color: $textColorSecondary;
  font-size: $fontHeaderThirdSize;
}

.header-fourth {
  color: $textColorThirdly;
  font-size: $fontHeaderFourthSize;
  margin: unset;
}

.left-side-container {
  background-color: $sidePanelBackground;
  max-width: $leftSideMaxWidth;
  min-width: $leftSideMinWidth;
}

.left-side-block {
  background-color: $sidePanelBackground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  min-height: 50px;

  & .logo {
    height: 30px;
  }

  &:hover {
    cursor: pointer;
  }
}

.left-side-subtitle {
  color: $textColorThirdly;
  margin-top: 8px;
  box-sizing: border-box;
  position: relative;
  transition: all .6s;
  padding-bottom: 3px;
  width: max-content;

  &:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all .3s;
    background: $thirdColor;
  }

  &:hover {
    color: $thirdColor;
  }

  &:hover:before {
    width: 100%;
    left: 0;
  }
}
