@import '~bootstrap/scss/bootstrap.scss';

$mainBackground: white;
$secondaryColor: #999c9c;

$thirdColor: #f3b321;
$fourthColor: #e6e6e6;
$fifthColor: #ebb818;
$sixthColor: #f2b32e;
$color7: #9e9e9f;
$color8: #4d4d4d;
$color9: #666666;
$color10: #f2f2f2;
$color11: #333333;
$color12: #72787d;
$color13: #727270;

$textColorSecondary: #565d63;
$textColorThirdly: #ffffff;
$textColorFourth: $color7;
$textColorFifth: $color11;

$separatorHight: 2px;

//$fontHeaderThirdSize: 20px;
$fontHeaderThirdSize: 1.25rem;
//$fontHeaderFourthSize: 12px;
$fontHeaderFourthSize: 0.9rem;

$sidePanelBackground: $color8;
$leftSideMaxWidth: 160px;
$leftSideMinWidth: 80px;

$userLogoFrameColor: #39b54a;
$userMenuEditBorderColor: $fifthColor;

$guideHeaderBackgroundColor: #8cc63f;
$profileSecondBackground: $color10;
$profileSecondBlockBorderColor: $fourthColor;

$profileHeaderTextColor: $color11;

$profileTextColor: $color9;

$aColor: #fbae17;

$serviceItemLogoBackgroundColor: $color10;
$serviceItemBorderColor: $fourthColor;

$footerBackgroundColor: #cfcece;

$chatContainerBackgroundColor: $fifthColor;

$h6FontSize: 1rem;
