@import '~bootstrap/scss/bootstrap.scss';

$mainBackground : white;
$secondaryBackground : #999C9C;

$thirdColor: #F3B321;
$fourthColor: #E6E6E6;
$fifthColor: #EBB818;

$textColorSecondary: #565D63;
$textColorThirdly: #ffffff;
$textColorFourth: #9E9E9F;
$textColorFifth: #333333;

$separatorHight: 2px;

//$fontHeaderThirdSize: 20px;
$fontHeaderThirdSize: 1.25rem;
//$fontHeaderFourthSize: 12px;
$fontHeaderFourthSize: 0.9rem;

$sidePanelBackground: #4D4D4D;
$leftSideMaxWidth: 160px;
$leftSideMinWidth: 80px;

$userLogoFrameColor: #39B54A;
$userMenuEditBorderColor: $fifthColor;

$guideHeaderBackgroundColor: #8CC63F;
$profileSecondBackground: #F2F2F2;
$profileSecondBlockBorderColor: $fourthColor;

$profileHeaderTextColor: #333333;

$profileTextColor: #666666;

$aColor: #FBAE17;

$serviceItemLogoBackgroundColor: #F2F2F2;
$serviceItemBorderColor: $fourthColor;

$footerBackgroundColor: #CFCECE;

$chatContainerBackgroundColor: $fifthColor;

$h6FontSize: 1rem;
