@import '../vars';
@import 'attach';

.form-control {
  padding-left: 2rem;
  border: 2px solid $fourthColor;
  border-radius: unset;
}

.input-with-icon {
  padding-left: 2rem !important;
}

.search-icon {
  height: 1rem;
  position: absolute;
  top: 0.8rem;
  left: 0.5rem;
  z-index: 4;
}

.arrowdart {
  fill: $thirdColor;
  width: 20px;
}

.back-to-list-text {
  color: $thirdColor;
  font-weight: 500;
}

.filter-arrow {
  fill: $sixthColor;
  width: 1rem;
  transform: rotate(180deg);
  margin-left: 0.5rem;
}

.filter-text {
  color: $secondaryColor;
  font-weight: 500;
}

.arrow-left,
.arrow-right {
  width: 18px;
  fill: $color8;
  transition: 0.15s ease-in-out;

  &:hover {
    fill: $color7;
  }
}

.arrow-left {
  transform: rotate(270deg);
}

.arrow-right {
  transform: rotate(90deg);
}

.message-item,
.message-container {
  background-color: $color10;
  border: 2px solid $fourthColor;
}

.select-container {
  &.selected {
    background-color: $color10;
    padding: 8px 8px;
    border-radius: 8px;
  }
}

.message-filter-item {
  color: $color9;

  &.active {
    color: $sixthColor;
    border-bottom: 0.2rem solid $sixthColor;
  }
}

.secondary-text {
  color: $secondaryColor;
}
