@import "src/styles/vars";

.user-edit-wrapper {
  height: 80px;
}

.user-edit-container {
  color: $textColorThirdly;
  border: 4px solid $userMenuEditBorderColor;
  width: min-content;
  margin: auto;

  & .icon {
    min-width: 30px;
  }
}
