@import '../vars';

.user-logo-container {
  width: 100%;
  min-width: $leftSideMinWidth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $sidePanelBackground;
  position: relative;
  border-radius: 20px 20px 0 0;
  top: -10px;
  bottom: -20px;
  z-index: 1;

  & .tassel {
    height: 40px;
    width: 40px;
    background-color: $sidePanelBackground;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -20px;
  }
}

.user-logo-frame {
  border: 4px solid $userLogoFrameColor;
  width: 5rem;
}

.user-edit-wrapper {
  height: 80px;
}

.user-edit-container {
  color: $textColorThirdly;
  border: 4px solid $userMenuEditBorderColor;
  width: min-content;
  margin: auto;

  & .icon {
    min-width: 30px;
  }
}
