@import '../vars';
@import '../mixins';

.user-menu-icon {
  width: 20px;
}

.img-item {
  padding: 4px;
  margin: 4px;
}

.user-menu-icon {
  cursor: pointer;
}

.dropdown-container {
  position: relative;

  & ul.dropdown-menu {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;

    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    right: 0;
    left: unset;
    padding: 0.6rem 1.2rem;
    color: $color12;

    & li {
      margin: 0.4rem 0;
    }
  }

  & button {
    background-color: $thirdColor;
    color: white;
    cursor: pointer;
    border-radius: 0.125rem;

    &:hover {
      color: white;
    }
  }
}
